.inBox {
    position: absolute;
    border:10px;
    padding: 2px;
    font: 20px sans-serif;
    top: 2%;
    left: 2%;
    width: auto;
    height: auto;
    overflow: auto;
    z-index: 100;
    background-color:white;
    }